@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$font: 'Roboto', sans-serif;

$color1: #fff;
$color2: #eeb625;
$color3: #61a9a6;
$color4: #eea594;
$color5: #000;

$maxWidth: 375px;
$transition1: all .3s linear;
