.current-details {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(2, auto);
  grid-auto-flow: row;

  li {
    display: flex;
    align-items: center;

    &:nth-child(3) {
      text-transform: capitalize;
    }

    span {
      width: 50%;

      &.right {
        text-align: center;
      }
    }

  }
}