@import '../../../assets/scss/variables.scss';

.city-search {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;

  input {
    border: 1px solid rgba(255,255,255,.5);
    outline: none;
    background-color: transparent;
    color: $color1;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: .1rem .5rem;
    min-width: 50px;
    margin-right: .5rem;
  }

  .search {
    cursor: pointer;
  }
}