@import '../../../assets/scss/variables.scss';

.city-search {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  input {
    width: auto;
    border: none;
    outline: none;
    background-color: transparent;
    color: $color1;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 150px;
    margin-right: .5rem;
  }

  .search {
    cursor: pointer;
  }
}