@import '../../assets/scss/variables.scss';

main {
  width: 100%;
  max-width: 375px;
  margin: auto;
  height: calc(100vh * (8.6 / 11));
  overflow: hidden;
  color: $color1;
  position: relative;
  padding: 2rem;
  overflow-y: auto;

  &.clouds, &.clear {
    background: $color2;
  }

  &.rain, &.thunderstorm, &.mist {
    background: $color3;
  }

  .refresh {
    cursor: pointer;
    position: absolute;
    top: -3rem; left: 0;
    svg {
      fill: $color1;
    }
  }

  .unit-change {
    cursor: pointer;
    position: absolute;
    top: -3rem; right: 0;
  }

  .container {
    width: 100%;
    padding-top: 2.5rem;
  }

  .more-details {
    cursor: pointer;
    display: inline-block;
    svg {
      transform: rotate(-90deg);
    }
  }

  .weather-bg {
    margin: 0 -2rem -2rem;
    width: 120%;
    text-align: center;

    svg {
      width: 100%;
      position: relative;
      top: 5px;
    }
  }

  .weather-data-error {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,.75);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    p {
      padding: 1rem;
      margin: 0;
    }
  }
}