@import '../../assets/scss/variables.scss';

header {
  transition: $transition1;
  position: relative;
  z-index: 10;
  top: 2rem;

  &.more-details-shown {
    top: 0;
  
    .header-content {
      background: $color4;
    }

    .weather-info {
      .temperature {
        font-size: 72px;
        line-height: 4rem;
      }

      .units {
        font-size: 36px;

        &:before {
          border: 3px solid $color1;
        }
      }
    }

    .more-details {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.header-content {
  .grid-box {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;
  }

  .more-details {
    cursor: pointer;
    display: inline-block;
    svg {
      position: relative;
      top: -1px;
      margin-left: 3px;
      transform: rotate(-90deg);
    }
  }
}