@import '../../assets/scss/variables.scss';

.header {
  height: 190px;
  width: 100%;
  max-width: 439px;
  position: fixed;
  top: 16%; left: 0; right: 0;
  margin: auto;
  z-index: 10;
  transition: top .3s linear;

  &.more-details-shown {
    transition: top .3s linear;
    top: 4%;
    

    .header-content {
      background: $color4;
      padding: 2rem 2rem 0;
    }

    .weather-info {
      .temperature {
        font-size: 72px;
        line-height: 4rem;
      }

      .units {
        font-size: 36px;

        &:before {
          border: 3px solid $color1;
        }
      }
    }

    .more-details {
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.header-content {
  padding: 0 2rem;
  .grid-box {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;
  }

  .more-details {
    cursor: pointer;
    display: inline-block;
    svg {
      position: relative;
      top: -1px;
      margin-left: 3px;
      transform: rotate(-90deg);
    }
  }
}