@import '../../assets/scss/variables.scss';

.details-content {
  .tab {
    margin-bottom: 1rem;
    &.active {
      .btn {
        svg {
          transform: rotate(-180deg);
        }
      }
    }

    .btn {
      cursor: pointer;
      display: inline-block;

      svg {
        transition: $transition1;
      }
    }
  }

  .details {
    margin: 1rem 0 4rem;
  }

  .current-details {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(2, auto);
    grid-auto-flow: row;

    li {
      display: flex;
      align-items: center;

      &:nth-child(3) {
        text-transform: capitalize;
      }

      span {
        width: 50%;

        &.right {
          text-align: center;
        }
      }

    }
  }
}