@import '../../assets/scss/variables.scss';

.details-content {
  padding-right: .5rem;
  padding-bottom: 2rem;

  .tab {
    margin-bottom: 1rem;

    .btn {
      cursor: pointer;
      display: inline-block;
      text-decoration: underline;
    }

    &:last-of-type {
      margin-bottom: 0;
      .forecast {
        margin-bottom: 0;
      }
    }
  }
}