@import '../../../assets/scss/variables.scss';

.options {

  svg {
    fill: $color1;
  }

  .unit-change {
    margin-bottom: 1rem;
  }

  div {
    text-align: right;

    span {
      cursor: pointer;
    }
  }
}